{% extends "_layout.twig" %}

{% block body %}
	<h3>Catégories</h3>
	<hr>
	<a href="/admin/categories/nouvelle" class="btn btn-primary">Saisir une entrée</a>
	<hr>
	<table class="table">
		<thead>
			<tr>
				<th>Libellé</th>
				<th>Description</th>
				<th>Est EPI ?</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for categorie in categories %}
				{% set est_epi_value = "Oui" %}
				{% if categorie.est_epi == 0 %}
					{% set est_epi_value = "Non" %}
				{% endif %}

				<tr>
					<td>{{ categorie.libelle }}</td>
					<td>{{ categorie.description }}</td>
					<td>{{ est_epi_value }}</td>
					<td>
						<a href="/admin/categories/categorie-{{ categorie.id }}" class="btn btn-primary btn-sm">Voir</a>
						<a href="/admin/categories/categorie_modification-{{ categorie.id }}" class="btn btn-warning btn-sm">Modifier</a>
						<a href="/admin/categories/supprimer?id={{ categorie.id }}" 
						   onclick="return confirm('Êtes-vous sûr de vouloir supprimer la catégorie « {{ categorie.libelle }} » ? Cette action est irréversible.')" 
						   class="btn btn-danger btn-sm">Supprimer</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}