{% extends "_layout.twig" %}

{% block body %}
	<h3>Equipements</h3>
    <hr>
    <a href="/equipements/nouveau" class="btn btn-primary mb-3">➕ Nouvel équipement</a>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Référence</th>
				<th>Nom</th>
				<th>Catégorie</th>
				<th>EPI</th>
				<th>Emplacement</th>
				<th>Mise en service</th>
				<th>Fin d'utilisation</th>
				<th>État</th>
				<th>Statut</th>
				<th>Actions</th>
			</tr>
		</thead>
        <tbody>
            {% for equipement in equipements %}
                <tr>
                    <td>{{ equipement.reference }}</td>
                    <td>{{ equipement.libelle }}</td>
                    <td>{{ equipement.categorie.libelle|default('N/A') }}</td>
                    <td>
                        {% if equipement.categorie and equipement.categorie.est_epi %}
                            <span class="badge bg-success">EPI</span>
                        {% elseif equipement.categorie and not equipement.categorie.est_epi %}
                            <span class="badge bg-secondary">Non EPI</span>
                        {% else %}
                            <span class="badge bg-secondary">Non défini</span>
                        {% endif %}
                    </td>
                    <td>{{ equipement.emplacement.libelle|default('Non défini') }}</td>
                    <td>
                        {% if equipement.date_mise_en_service %}
                            {{ equipement.date_mise_en_service|date("d/m/Y") }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {% if not equipement.date_fin_utilisation or equipement.date_fin_utilisation > "now"|date("Y-m-d") %}
                        <a href="#" 
                            onclick="alert('Date de fin d\'utilisation : {% if equipement.date_fin_utilisation %}{{ equipement.date_fin_utilisation|date('d/m/Y') }}{% else %}Non définie{% endif %}'); return false;" 
                            style="text-decoration: none; color: inherit;">
                            Toujours en service
                        </a>
                        {% else %}
                        {{ equipement.date_fin_utilisation|date("d/m/Y") }}
                        {% endif %}
                    </td>
                    <td>{{ equipement.etat|default('-') }}</td>
                    <td>{{ equipement.statut|default('-') }}</td>
                    <td>
                        <a href="/equipements/equipement-{{ equipement.id }}" class="btn btn-sm btn-primary">Voir</a>
                        <a href="/equipements/equipement_modification-{{ equipement.id }}" class="btn btn-sm btn-warning">Modifier</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
	</table>
{% endblock %}