{% extends "_layout.twig" %}

{% block body %}
	<h3>Epis</h3>
    <hr>
        <a href="epi_acquisitions/nouvelle" class="btn btn-primary">Saisir une entrée</a>
    <hr>
	<table class="table">
		<thead>
			<tr>
				<th>Référence</th>
				<th>Nom</th>
				<th>Catégorie</th>
				<th>Etat</th>
                <th>Statut</th>
				<th></th>
			</tr>
		</thead>
        <tbody>
            {% for epi in epis %}
                <tr>
                    <td>{{ epi.reference }}</td>
                    <td>{{ epi.libelle }}</td>
                    <td>{{ epi.categorie.libelle }}</td>
                    <td>{{ epi.etat }}</td>
                    <td>{{ epi.statut }}</td>
                    <td></td>
                </tr>
            {% endfor %}
        </tbody>
	</table>
{% endblock %}
